<a href="https://colab.research.google.com/github/harshmudgil97/almabetter-EDA/blob/main/Copy_of_Final_Hotel_Booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/Alma Better/Python for data science/capstone - Hotel Booking Analysis/Copy of Hotel Bookings.csv'

In [ ]:
df = pd.read_csv(path)

In [ ]:
df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

In [ ]:
1) country
2) children
3) agent
4) company

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
df_a = df.drop(columns= ['agent', 'company', 'adults'])

In [ ]:
df_a.head(2)

In [ ]:
df_a[df_a['is_canceled'] != 1].groupby('distribution_channel').agg({'adr': 'sum'}).sort_values(by='adr',ascending=False)

In [ ]:
df_a.groupby('distribution_channel').agg({'adr': 'sum'}).sort_values(by='adr',ascending=False)

In [ ]:
df_a.groupby('distribution_channel').agg({'adr': 'mean'}).sort_values(by='adr',ascending=False)

In [ ]:
df_a['hotel'].value_counts()

In [ ]:
df_a[df_a['is_canceled'] != 1]['hotel'].value_counts()

In [ ]:
df_count = df_a[df_a['is_canceled'] != 1].groupby(['country','hotel']).agg({'hotel': 'count'})
df_count

In [ ]:
df_count.rename(columns={'hotel': 'no_of_bookings'},inplace=True)

In [ ]:
df_count.sort_values(by='no_of_bookings', ascending=False).head(20)

In [ ]:
df_count2 = df_a.groupby(['country','hotel']).agg({'hotel': 'count'})
df_count2

In [ ]:
df_count2.rename(columns={'hotel': 'no_of_bookings'},inplace=True)

In [ ]:
df_count2.sort_values(by='no_of_bookings', ascending=False).head(20)

In [ ]:
df_a.head(2)

In [ ]:
df_b = pd.DataFrame(df_a[df_a['is_canceled'] !=1 ][['lead_time','is_canceled']])

In [ ]:
df_b.groupby('is_canceled')['lead_time'].describe()

In [ ]:
df_b = pd.DataFrame(df_a[df_a['is_canceled'] ==1 ][['lead_time','is_canceled']])

In [ ]:
df_b.groupby('is_canceled')['lead_time'].describe()

In [ ]:
df_b.sort_values(by='lead_time', ascending=False)

In [ ]:
df_a.head(2)

In [ ]:
df_c = df_a[['hotel','arrival_date_month']]
df_c

In [ ]:
df_d = pd.DataFrame(df_c.groupby('arrival_date_month')['hotel'].value_counts())

In [ ]:
df_d

In [ ]:
df_d.rename(columns={'hotel':'no_of_bookings'}, inplace=True)
df_d

In [ ]:
# peak months are may, june, july and august

df_d.sort_values(by='no_of_bookings', ascending=False)